html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

body{
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  padding-left: 240px;
  padding-right: 240px;
  max-width: 1920px;
}

.section {
  margin: 0;
}
.container {
max-width: 1440px;
margin: 0 auto;
}
/*________________________________________________________________________*/
/*fonts style start*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(''),
       url('./assets/img/welcome-bg.jpg') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/roboto-v27-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('./assets/fonts/roboto-v27-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/roboto-v27-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* forum-regular - latin */
@font-face {
font-family: 'Forum';
font-style: normal;
font-weight: 400;
src: url('./assets/fonts/forum-v11-latin-regular.eot'); /* IE9 Compat Modes */
src: local(''),
     url('./assets/fonts/forum-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('./assets/forum-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
     url('./assets/forum-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
     url('./assets/forum-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
     url('./assets/forum-v11-latin-regular.svg#Forum') format('svg'); /* Legacy iOS */
}

/*fonts style end*/
/*________________________________________________________________________*/

/*Header style start*/

.header-nav {
  max-width: 720px;
}

.header-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 74px;
  padding-bottom: 76px;
  background-color: black;
}


.header__list{
  display: flex;
  flex-wrap: wrap;
}

.header__item{
  margin-right: 76px;
}

.header-logo{
  height:200
}

.header__item:last-child{
  margin-right: 0;
}

.header__link{
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color:#FFFFFF;
  text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 0.75;
}
.header__logo-link:hover, .header__logo-link:focus, .header__logo-link:active{
  opacity: 0.75;
}

.header__logo-link{
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  width: 195px;
}

.louvre{
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color:#FFFFFF;
}

/*Header style end*/
/*________________________________________________________________________*/

/*Welcome style start*/

.welcome{
  height: 750px;
  background: url(./assets/img/welcome-bg.jpg) no-repeat right;
  background-color: black;
  padding-top: 76px;
  padding-bottom: 76px;
}



/*Welcome style end*/
/*________________________________________________________________________*/
