html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *::before, *::after{
  box-sizing: inherit;
}

body{

  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  max-width: 1920px;
}

.section-title-black{
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-title-white{
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}

section {
  margin: 0;
  padding-top: 75px;
  padding-bottom: 75px;
}
.container {
max-width: 1440px;
margin: 0 auto;
padding:0;
}
/*________________________________________________________________________*/
/*fonts style start*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(''),
       url('./assets/img/welcome-bg.jpg') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/roboto-v27-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('./assets/fonts/roboto-v27-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/roboto-v27-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* forum-regular - latin */
@font-face {
font-family: 'Forum';
font-style: normal;
font-weight: 100;
src: url('./assets/fonts/forum-v11-latin-regular.eot'); /* IE9 Compat Modes */
src: local(''),
     url('./assets/fonts/forum-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('./assets/forum-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
     url('./assets/forum-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
     url('./assets/forum-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
     url('./assets/forum-v11-latin-regular.svg#Forum') format('svg'); /* Legacy iOS */
}

/*fonts style end*/
/*________________________________________________________________________*/

/*Header style start*/
header{
  max-height: 200px;
  background: #000;
}

.header-nav {
  max-width: 720px;
  padding-top: 74px;
  padding-bottom: 76px;
}

.header-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.logo{
  padding-top: 74px;
  padding-bottom: 76px;
}

.header__list{
  display: flex;
  flex-wrap: wrap;
}

.header__item{
  margin-right: 76px;
}

.header-logo{
  height:200
}

.header__item:last-child{
  margin-right: 0;
}

.header__link{
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color:#FFFFFF;
  text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 0.75;
}
.header__logo-link:hover, .header__logo-link:focus, .header__logo-link:active{
  opacity: 0.75;
}

.header__logo-link{
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  width: 195px;
}

.louvre{
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color:#FFFFFF;
  padding-left:  20px;
}

/*Header style end*/
/*________________________________________________________________________*/

/*Welcome style start*/
h1 {
  margin:0;
}

.subtitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color:white
}

.intro{
  width: 600px;
  height: 390px;
  padding-top: 115px;
}

.dark-section{
  background-color: black;
}

main{

  margin: 0;
  padding: 0;
}

.welcome__title{
  margin-bottom: 26px;
}

.welcome{
  height: 750px;
  max-width: 1920px;
  margin: 0;
  padding: 0;
  background-image: url(./assets/img/welcome-bg.jpg);
  background-repeat: no-repeat;
  background-position: calc(100% - 0px) calc(100% - 0px);
}

.intro_button {
  padding: 25px 68px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  background: #710707;
  border: 0;
  border-radius: 10px;
  
}

/*Welcome style end*/
/*________________________________________________________________________*/

/*Virtual tour style start*/


.visiting__info {
  height: 1115px;
}

h2 {
  position: relative;
  margin: 0;
  padding: 0;
}

h2::after{
  content: "";
  position: absolute;
  top: 116px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}
.wrapper {
  height: 921px;
  margin-top: 104px;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.visiting a{
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;

}

.visiting .wrapper a h3 {
  display: block;
  position: relative;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #000000;
  margin-top: 25px;
}

a h3::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 2px;
  left: 0px;
  bottom: -9px;
  background: #710707;
}

.tour{
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;  
  color: #000000;
  margin-top: 21px;
  margin-bottom: 12px;
  padding: 0;
}

.google-street{
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  color: #000000;
}
/*________________________________________________________________________*/

/*Virtual tour style end*/